# when should i use "groupby" in pandas?

In [1]:
import pandas as pd

In [15]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
drinks.beer_servings.mean()

106.16062176165804

In [5]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [6]:
drinks[drinks.continent=='Africa']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
2,Algeria,25,0,14,0.7,Africa
4,Angola,217,57,45,5.9,Africa
18,Benin,34,4,13,1.1,Africa
22,Botswana,173,35,35,5.4,Africa
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
31,Cameroon,147,1,4,5.8,Africa
33,Central African Republic,17,2,1,1.8,Africa
34,Chad,15,1,1,0.4,Africa
38,Comoros,1,3,1,0.1,Africa
39,Congo,76,1,9,1.7,Africa
47,DR Congo,32,3,1,2.3,Africa
49,Djibouti,15,44,3,1.1,Africa
53,Egypt,6,4,1,0.2,Africa
55,Equatorial Guinea,92,0,233,5.8,Africa
56,Eritrea,18,0,0,0.5,Africa
58,Ethiopia,20,3,0,0.7,Africa
62,Gabon,347,98,59,8.9,Africa
63,Gambia,8,0,1,2.4,Africa
66,Ghana,31,3,10,1.8,Africa
70,Guinea,9,0,2,0.2,Africa
71,Guinea-Bissau,28,31,21,2.5,Africa
88,Kenya,58,22,2,1.8,Africa
95,Lesotho,82,29,0,2.8,Africa
96,Liberia,19,152,2,3.1,Africa
97,Libya,0,0,0,0.0,Africa
100,Madagascar,26,15,4,0.8,Africa
101,Malawi,8,11,1,1.5,Africa
104,Mali,5,1,1,0.6,Africa
107,Mauritania,0,0,0,0.0,Africa
108,Mauritius,98,31,18,2.6,Africa
114,Morocco,12,6,10,0.5,Africa
115,Mozambique,47,18,5,1.3,Africa
117,Namibia,376,3,1,6.8,Africa
123,Niger,3,2,1,0.1,Africa
124,Nigeria,42,5,2,9.1,Africa
142,Rwanda,43,2,0,6.8,Africa
148,Sao Tome & Principe,56,38,140,4.2,Africa
150,Senegal,9,1,7,0.3,Africa
152,Seychelles,157,25,51,4.1,Africa
153,Sierra Leone,25,3,2,6.7,Africa
158,Somalia,0,0,0,0.0,Africa
159,South Africa,225,76,81,8.2,Africa
162,Sudan,8,13,0,1.7,Africa
164,Swaziland,90,2,2,4.7,Africa
172,Togo,36,2,19,1.3,Africa
175,Tunisia,51,3,20,1.3,Africa
179,Uganda,45,9,0,8.3,Africa
183,Tanzania,36,6,1,5.7,Africa
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [7]:
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [8]:
drinks.groupby('continent').beer_servings.max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [9]:
drinks.groupby('continent').beer_servings.min()

continent
Africa            0
Asia              0
Europe            0
North America     1
Oceania           0
South America    93
Name: beer_servings, dtype: int64

In [10]:
drinks.groupby('continent').beer_servings.agg(['count','min','max','mean'])

               count  min  max        mean
continent
Africa            53    0  376   61.471698
Asia              44    0  247   37.045455
Europe            45    0  361  193.777778
North America     23    1  285  145.434783
Oceania           16    0  306   89.687500
South America     12   93  333  175.083333

In [16]:
drinks.groupby('continent').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [17]:
%matplotlib inline

In [18]:
drinks.groupby('continent').mean().plot(kind='bar')

TypeError: agg function failed [how->mean,dtype->object]